*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  height: 100vh; }

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.6; }

.container {
  height: 100%;
  display: flex;
  flex-direction: column; }

.main {
  display: flex;
  flex-grow: 1;
  background-image: linear-gradient(to right, #fafafa, #bbb); }

.cta {
  height: 100%;
  flex: 1 0 0;
  display: flex;
  flex-direction: column; }
  .cta .about {
    width: 75%;
    margin: auto;
    flex: 1 0 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; }
    .cta .about-secondary, .cta .about-primary {
      font-size: 5rem; }
    .cta .about-secondary {
      font-weight: 400;
      margin-bottom: -3rem; }
    .cta .about-primary {
      font-weight: 800;
      letter-spacing: 0.1rem; }
  .cta .social-media {
    flex: 1 0 0;
    width: 75%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .cta .social-media .links a {
      color: #111111;
      text-decoration: none;
      font-size: 3rem;
      margin-right: 1.5rem; }
    .cta .social-media .links-text {
      font-size: 1.7rem; }

.photo {
  flex: 1 0 0;
  position: relative; }
  .photo img {
    width: 85%;
    height: auto;
    position: absolute;
    bottom: 0;
    right: 0; }

.btn {
  background: transparent;
  padding: 1rem 2.5rem;
  border: 2px solid #111111;
  font-weight: 100;
  font-size: 3rem;
  align-self: start;
  min-width: 32rem; }
  .btn:active, .btn:hover, .btn:focus {
    outline: none; }

.footer {
  height: 3.5rem;
  background-color: #111; }

@media screen and (max-width: 700px) {
  .main {
    flex-direction: column; }
  .btn {
    font-size: 2rem;
    min-width: 23rem;
    border: 1px solid #111111; }
  .photo {
    flex: 1 0 0;
    position: relative;
    margin-top: 40rem; }
    .photo img {
      width: 90%;
      height: auto;
      position: absolute; }
  .cta {
    margin-top: 9rem; }
    .cta .about {
      width: 86%;
      margin-bottom: 9rem; }
      .cta .about-secondary, .cta .about-primary {
        font-size: 3.6rem; }
      .cta .about-secondary {
        margin-bottom: -1.9rem; }
    .cta .social-media {
      width: 86%; }
      .cta .social-media .links a {
        margin-right: 1rem; }
      .cta .social-media .links-text {
        margin-top: -1rem;
        font-size: 1.5rem; } }
