$font-primary: 'Poppins', sans-serif;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 10px = 1rem
    height: 100vh;
}

body {
    font-family: $font-primary;
    font-weight: 400;
    line-height: 1.6;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.main {
    display: flex;
    flex-grow: 1;
    background-image: linear-gradient(to right, #fafafa, #bbb);
}

.cta {
    height: 100%;
    flex: 1 0 0;
    display: flex;
    flex-direction: column;

    .about {
        width: 75%;
        margin: auto;
        flex: 1 0 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        &-secondary,
        &-primary {
            font-size: 7rem;
        }

        &-secondary {
            font-weight: 400;
            margin-bottom: -4rem;
        }
        &-primary {
            font-weight: 800;
            letter-spacing: 0.1rem;
        }
    }

    .social-media {
        flex: 1 0 0;
        width: 75%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .links {
            a {
                color: #111111;
                text-decoration: none;
                font-size: 3rem;
                margin-right: 1.5rem;
            }

            &-text {
                font-size: 1.7rem;
            }
        }
    }
}

.photo {
    flex: 1 0 0;
    position: relative;
    img {
        width: 90%;
        height: auto;
        position: absolute;
        bottom: 0;
        right: 0;
    }
}

.btn {
    background: transparent;
    padding: 1rem 2.5rem;
    border: 2px solid #bbb;
    font-weight: 100;
    font-size: 4rem;
    align-self: start;
    min-width: 42rem;
}

.footer {
    height: 3.5rem;
    background-color: #111;
}

@media screen and (max-width: 700px) {
    .main {
        flex-direction: column;
    }

    .btn {
        font-size: 2rem;
        min-width: 23rem;
    }

    .photo {
        flex: 1 0 0;
        position: relative;
        margin-top: 45rem;
        img {
            width: 90%;
            height: auto;
            position: absolute;
            // bottom: 0;
            // right: 0;
        }
    }

    .cta {
        margin-top: 9rem;
        .about {
            margin-bottom: 7rem;
            &-secondary,
            &-primary {
                font-size: 3.6rem;
            }

            &-secondary {
                margin-bottom: -1.9rem;
            }
            &-primary {
            }
        }

        .social-media {
            .links {
                a {
                    margin-right: 1rem;
                }
                &-text {
                    margin-top: -1rem;
                    font-size: 1.5rem;
                }
            }
        }
    }
}
